<%- include ('header.ejs') -%>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(0,0,0,0.5);background: url(/static/admin/img/pexels-karolina-grabowska-4199098.jpg) bottom;">
            <div class="text">
                <h2>Cooking is an art</h2>
                <p>A recipe is a story that ends with a good meal.</p>
                <button class="btn btn-outline-light btn-lg" type="button" onclick="location.href='/admin/login'">Learn More</button>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Fun Fact</h2>
                    <p>The earliest known written recipes date to 1730 BC and were recorded on cuneiform tablets found in Mesopotamia.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img class="img-thumbnail" src="/static/admin/img/scenery/pexels-ella-olsson-1640774.jpg">
                    </div>
                    <div class="col-md-6">
                        <h3>The archives of Recipes</h3>
                        <div class="getting-started-info">
                            <p>Do you love cooking? Do you want to share your secret recipe to the world. Join Perfect Palate now and start sharing your wonders of cooking.</p>
                        </div>
                        <button class="btn btn-outline-primary btn-lg" type="button" onclick="location.href='/admin/registration'">Join Now</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
</html>